.submenu {
    display: none;
}
.submenu.active {
    display: flex;
}
.category-item.active {
    background-color: rgb(236 252 203);
}
#productMegaMenu, #brandMegaMenu {
    display: none;
}
#productMegaMenu.active, #brandMegaMenu.active {
    display: block;
}